@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #ED9455;
}

.navbar-brand {
  font-family: "Playwrite CU";
  color: #ED9455;
  text-shadow: 0 0 5px #FFEC9E;
  font-size: 25px;
  -webkit-text-decoration: underline 3px #ED9455;
          text-decoration: underline 3px #ED9455;
}

.navbar-brand::after {
  content: "🍞";
}

nav div span {
  text-decoration: none;
}

.container-fluid {
  background-color: #ed9455;
  background-image: linear-gradient(180deg, #ed9455 0%, #ffbf78 25%, #ffec9e 50%, #ffbf78 75%, #ed9455 100%);
}

.flex {
  display: flex;
  justify-content: end;
}

.nav-link {
  background-color: #FFEC9E;
  color: #ED9455;
  margin: 0px 5px;
  border: solid #ED9455;
  border-radius: 7px;
  text-align: center;
  transition: 1s;
  padding: 3px 10px !important;
}

.nav-link:hover {
  background-color: #ED9455;
  transform: scale(1.2);
}

.bcg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Fondo.jpg);
  height: auto;
  width: 100%;
}

.call {
  text-align: center;
  width: 70%;
  background-color: rgba(255, 192, 120, 0.65);
  padding: 15px;
  margin: 25px 0px;
  border: solid #ED9455;
  border-radius: 10px;
}

.intro {
  margin-bottom: 10px;
}

.hr {
  border-color: #ED9455;
  width: 100%;
  margin: 0 auto;
}

.hr1 {
  width: 50%;
  margin: 0px auto 8px;
  border-top: solid 1px #ED9455;
  border-bottom: solid 1px black;
  opacity: 1;
}

.h1 {
  text-transform: uppercase;
  font-size: 35px;
}

.h2 {
  font-size: 32px;
  -webkit-text-decoration: underline #212529;
          text-decoration: underline #212529;
  font-style: italic;
  padding: 15px;
  background-color: rgba(255, 192, 120, 0.65);
  width: 30%;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  border: solid #ED9455;
}

.h2-contacto {
  text-align: center;
  background-color: rgba(255, 192, 120, 0.65);
  width: 70%;
  border-radius: 10px;
  border: solid #ED9455;
  font-size: 32px;
  padding: 16px;
  margin: 20px 0px;
  font-size: 24px;
}

.h3 {
  font-family: "Playwrite CU";
}

.letra-logo {
  color: #212529;
  font-family: "Playwrite CU";
}

.bcg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/FondoVideo.jpg);
  height: 1000px;
  background-position: center;
  background-size: cover;
  border-top: solid 3px #ED9455;
  border-bottom: solid 3px #ED9455;
}

.sacar-margin {
  margin-bottom: 0px;
}

.video {
  width: 85%;
  height: auto;
  margin: 10px;
}

section div div div {
  display: flex;
  justify-content: center;
}

.bcg4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEC9E;
  padding-top: 18px;
}

.bcg5 {
  background-image: url(../images/FondoVideo.jpg);
  background-size: cover;
}

.galeria {
  background-color: #FFEC9E;
  width: 100%;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 230px);
  grid-gap: 15px;
}

.img {
  border: solid #ED9455;
  border-radius: 7px;
  background-position: center;
  background-size: cover;
}

.img1 {
  background-image: url(../images/galeria/galeria1.jpg);
}

.img2 {
  background-image: url(../images/galeria/galeria2.jpg);
}

.img3 {
  background-image: url(../images/galeria/galeria3.jpg);
}

.img4 {
  background-image: url(../images/galeria/galeria4.jpg);
}

.img5 {
  background-image: url(../images/galeria/galeria5.jpg);
}

.img6 {
  background-image: url(../images/galeria/galeria6.jpg);
}

.img7 {
  background-image: url(../images/galeria/galeria7.jpg);
}

.img8 {
  background-image: url(../images/galeria/galeria8.jpg);
}

.img9 {
  background-image: url(../images/galeria/galeria9.jpg);
}

.img10 {
  background-image: url(../images/galeria/galeria10.jpg);
}

.img11 {
  background-image: url(../images/galeria/galeria11.jpg);
}

.img12 {
  background-image: url(../images/galeria/galeria12.jpg);
}

video {
  border: solid #ED9455;
  border-radius: 10px;
}

form {
  padding: 20px;
  width: 70%;
  color: #212529;
}

label {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
}

input[type=submit] {
  background-color: #ED9455;
  display: block;
  margin: 0 auto;
  width: 30%;
  background-image: linear-gradient(to right, #ED9455 0%, #FFBF78 51%, #FFEC9E 100%);
  transition: 0.5s;
  text-align: center;
  background-size: 200% auto;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-position: right center;
  color: #ED9455;
  text-decoration: none;
  text-shadow: 0 0 1px white;
}

input[type=text] {
  height: 35px;
  text-align: center;
  border: solid 3px #ED9455;
  background-color: #FFEC9E;
}

input[type=number] {
  height: 35px;
  text-align: center;
  border: solid 3px #ED9455;
  background-color: #FFEC9E;
}

input[type=email] {
  height: 35px;
  text-align: center;
  border: solid 3px #ED9455;
  background-color: #FFEC9E;
}

textarea {
  text-align: center;
  border: solid 3px #ED9455;
  background-color: #FFEC9E;
}

input:focus {
  border: solid 3px #ED9455;
  color: #ED9455;
  text-shadow: 0 0 3px #FFFBDA;
  font-weight: bold;
}

textarea:focus {
  border: solid 3px #ED9455;
  color: #ED9455;
  text-shadow: 0 0 3px #FFFBDA;
  font-weight: bold;
}

.mapa-contenedor {
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED9455;
  background-image: linear-gradient(135deg, #ED9455 0%, #FFBF78 25%, #FFEC9E 50%, #FFBF78 75%, #ED9455 100%);
}

.mapa-contenedor div {
  width: 85%;
  border: solid 5px #ED9455;
  border-radius: 10px;
  padding: 0px;
}

.bcg3 {
  width: 100%;
  background-image: url(../images/Fondo.jpg);
  height: 150px;
}

.espacio {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: solid 3px #ED9455;
}

.contacto {
  display: inline-block;
  list-style: none;
  padding: 15px 35px;
  background-color: #ED9455;
  background-image: linear-gradient(135deg, #ED9455 0%, #FFBF78 25%, #FFEC9E 50%, #FFBF78 75%, #ED9455 100%);
  border: solid #ED9455;
  border-radius: 10px;
}

.li-span {
  font-family: "Open Sans", sans-serif;
}

footer {
  height: auto;
  width: 100%;
  background-color: #FFFBDA;
  text-align: center;
  font-weight: bold;
}

footer .derechos {
  font-family: "Open Sans", sans-serif;
}

.redes {
  letter-spacing: 10px;
  border-top: solid 3px #ED9455;
}

.redes a {
  text-decoration: none;
  color: #ED9455;
  font-size: 50px;
}

.redes a:hover {
  color: #FFEC9E;
}

.redes a i:hover {
  padding: 10px 0px 10px 10px;
  background-color: #ED9455;
  border-radius: 50%;
}

@media only screen and (max-width: 1439px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 230px);
  }
  .call {
    width: 75%;
  }
  .h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .h2 {
    font-size: 30px;
    width: 65%;
  }
}
@media only screen and (max-width: 1320px) {
  .bcg3 {
    height: 200px;
  }
  .espacio {
    flex-wrap: wrap;
    height: 200px;
  }
  #contacto4 {
    width: 80%;
    text-align: center;
  }
  .h1 {
    font-size: 28px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 24px;
  }
  .h2-contacto {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1000px) {
  .bcg3 {
    height: 260px;
  }
  .espacio {
    height: 260px;
  }
  #contacto1 {
    width: 35%;
    text-align: center;
  }
  #contacto2 {
    width: 35%;
    text-align: center;
  }
  #contacto3 {
    width: 80%;
    text-align: center;
  }
  .bcg2 {
    height: 740px;
  }
  .navbar-brand {
    font-size: 22px;
  }
  .nav-link {
    font-size: 15px;
  }
  .h1 {
    font-size: 26px;
  }
  .h2 {
    font-size: 24px;
  }
  .h3 {
    font-size: 21px;
  }
  .h2-contacto {
    font-size: 20px;
  }
  label {
    font-size: 18px;
  }
  input {
    font-size: 18px;
  }
  textarea {
    font-size: 18px;
  }
  iframe {
    height: 260px;
  }
  .mapa-contenedor {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 230px);
  }
  .call {
    width: 87%;
  }
  .h1 {
    font-size: 22px;
  }
  .h3 {
    font-size: 17px;
  }
  .h2 {
    font-size: 22px;
    width: 65%;
  }
  .bcg3 {
    height: auto;
  }
  .espacio {
    height: 280px;
  }
  #contacto1 {
    width: 80%;
    text-align: center;
  }
  #contacto2 {
    width: 80%;
    text-align: center;
  }
  .contacto {
    padding: 10px;
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  .redes a {
    font-size: 42px;
  }
  .bcg2 {
    height: 600px;
  }
  .derechos {
    font-size: 14px;
  }
  .intro {
    font-size: 14px;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .nav-link {
    font-size: 14px;
    margin: 8px 0px 0px;
  }
  .flex {
    display: inline-block;
  }
  .h2-contacto {
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  textarea {
    font-size: 16px;
  }
  input[type=submit] {
    width: 149px;
  }
  iframe {
    height: 230px;
  }
  .mapa-contenedor {
    height: 340px;
  }
}
@media only screen and (max-width: 479px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 230px);
  }
  .call {
    width: 90%;
  }
  .h1 {
    font-size: 20px;
  }
  .h3 {
    font-size: 16px;
  }
  .h2 {
    font-size: 20px;
    width: 65%;
  }
  .contacto {
    font-size: 12px;
  }
  footer p {
    font-size: 12px;
  }
  .redes a {
    font-size: 34px;
  }
  .bcg2 {
    height: 400px;
  }
  .footer-div {
    display: block;
  }
  .derechos {
    display: block;
    font-size: 12px;
  }
  .intro {
    font-size: 12px;
  }
  .h2-contacto {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
  textarea {
    font-size: 14px;
  }
  iframe {
    height: 180px;
  }
  .mapa-contenedor {
    height: 270px;
  }
}
@media only screen and (max-width: 410px) {
  .li-span {
    display: block;
  }
  iframe {
    height: 150px;
  }
  .mapa-contenedor {
    height: 220px;
  }
}
@media only screen and (max-width: 320px) {
  .bcg2 {
    height: 320px;
  }
  .contacto {
    width: 85%;
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */